PyMuPDF
langchain-core
langchain
langchain-community
transformers
pillow
torch
numpy
scikit-learn
faiss-cpu
qwen-vl-utils
torchvision
einops
transformers_stream_generator
matplotlib
tiktoken
accelerate
bitsandbytes
huggingface_hub[hf_xet]
python-dotenv
hf_xet
groq